<body>
    <header>
        <a href="https://web.whatsapp.com/" class="btn-wsp" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>


    </header>
    <div class="container-all">

        <div class="slide">

            <div class="items-slide">
                <img src="/img/globos1.png" alt="globos" class="img-slider">
            </div>

            <div class="items-slide">
                <img src="/img/recuerdos2.png" alt="recuerdos2" class="img-slider">
            </div>

            <div class="items-slide">
                <img src="/img/Caja regalo3.png" alt="cajaderegalos3" class="img-slider">
            </div>

            <div class="items-slide">
                <img src="/img/flores4.png" alt="" class="img-slider">
            </div>
            
        </div>


    </div>

    <section>
        <h2 class="resumen">
            ¿CÓN QUÉ TE GUSTARÍA SORPRENDER HOY? - Contáctanos al xxxxxxxxxx
        </h2>
        <h2 class="descripcion">
        “Somos un espacio único y especializado en la creación de detalles 
        personalizados y arreglos exquisitos para regalar o dedicar.
        Nos dedicamos a transformar momentos ordinarios en extraordinarios a través de nuestros regalos. 
        Cada pieza es cuidadosamente seleccionada y diseñada para transmitir tus sentimientos de la manera más hermosa. 
        ¡Explora nuestra colección y encuentra el regalo perfecto para esa persona especial!
        </h2>

        <h2 class="categoria">Nuestros Productos</h2>


        <div class="container-all contenedor-imagenes">

                <div class=" ofert-1">
                    <div class="ofert-img">
                        <img src="/img/Desayuno sopresa.png" alt="Desayuno" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                        <a href="/links/Desayunos#tematicas" target="_blank"><h3>Tematicas</h3></a>
                    </div>
                </div>


                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/regalosparael.png" alt="regalos para hombres" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/Desayunos#criollos" target="_blank"> <h3 class="texto-nav">Criollos</h3></a>
                    </div>
                </div>
                


                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/regalosella.png" alt="regalos para ella" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                        <a href="/links/Desayunos#light" target="_blank"><h3>Light</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/arreglos con flores.png" alt="arreglos con flores" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/Desayunos#reposteria" target="_blank"> <h3>Reposteria</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/reposteria.png" alt="reposteria">
                    </div>
                    <div class="ofert-txt">
                        <a href="/links/Desayunos#regalosParaEl" target="_blank"><h3>Regalos para ÉL</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/Desayunos#Regalos para Ella" target="_blank"> <h3>Regalos para Ella</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/floristeria#Cajas"target="_blank"> <h3>Cajas</h3> </a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/floristeria#De Mano"target="_blank"> <h3>De mano</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/floristeria#Regalos"target="_blank"> <h3>Regalos</h3></a>
                    </div>
                </div>

        </div>
    </section>

    <footer class="footer ">

        <div class="container-all d-flex justify-content-center " >

            <div class="link row  row-col-md-2" >
                <p>Contactanos</p>
                  <p class="fs-6 text-white m-2" >(000)00000</p>
                    <p class="fs-6 text-white m-2" >(000)00000</p>
                    <p class="fs-6 text-white m-2" >(000)00000</p>
                    <p class="fs-6 text-white m-2" >(000)00000</p>

            </div>
            <div class="link row row-col-md-2 ">
                <p>Dias de laborar</p>
                     <p class="fs-6 text-white m-2" >Lunes</p>
                    <p class="fs-6 text-white m-2" >Martes</p>
                    <p class="fs-6 text-white m-2" >Miercoles</p>
                    <p class="fs-6 text-white m-2" >Jueves y Viernes</p>

            </div>
            <div class="link row row-col-md-2 ">
                <p>Horarios</p>
                    <p class="fs-6 text-white m-2" >8:00am</p>
                    <p class="fs-6 text-white m-2" >12:00pm</p>
                    <p class="fs-6 text-white m-2" >2:00pm</p>
                    <p class="fs-6 text-white m-2" >6:00pm</p>

            </div>
            <div class="link row  row-col-md-2 ">
                <p>Ubicacion</p>
                <p>Bucaramanga</p>
                <p>Bucaramanga</p>
                <p>Bucaramanga</p>
                <p>Bucaramanga</p>
                

            </div>

        </div>



    </footer>


</body>
</html>


				
