<body>
       
    <div class="container-all m-4" >

        <div class="slide">

            <div class="items-slide">
                <img src="/img/globos1.png" alt="globos" class="img-slider">
            </div>

            <div class="items-slide">
                <img src="/img/recuerdos2.png" alt="recuerdos2" class="img-slider">
            </div>

            <div class="items-slide">
                <img src="/img/Caja regalo3.png" alt="cajaderegalos3" class="img-slider">
            </div>

            <div class="items-slide">
                <img src="/img/flores4.png" alt="" class="img-slider">
            </div>
            
        </div>


    </div>

    <section>

        <div class="card text-center description">
            <div class="card-header text-black fs-4" style="background: rgb(107, 3, 4);">
                ¿CÓN QUÉ TE GUSTARÍA SORPRENDER HOY?
            </div>
            <div class="card-body" style="background: #c5b2a0;">
                <p class="card-text fs-5" >“Somos un espacio único y especializado en la creación de detalles 
            personalizados y arreglos exquisitos para regalar o dedicar.
            Nos dedicamos a transformar momentos ordinarios en extraordinarios a través de nuestros regalos. 
            Cada pieza es cuidadosamente seleccionada y diseñada para transmitir tus sentimientos de la manera más hermosa. 
            ¡Explora nuestra colección y encuentra el regalo perfecto para esa persona especial!</p>
            </div>
            <div class="card-footer fs-4 text-black" style="background: rgb(107, 3, 4);">
                ¡DEJANOS SORPRENDER A TU PERSONA ESPECIAL!
            </div>
        </div>

        <h2 class="categoria fs-3">Nuestros Productos</h2>


        <div class="container-all contenedor-imagenes">

                <div class=" ofert-1">
                    <div class="ofert-img">
                        <img src="/img/Desayuno sopresa.png" alt="Desayuno" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                        <a href="/links/Desayunos#tematicas" target="_blank"><h3>Tematicas</h3></a>
                    </div>
                </div>


                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/regalosparael.png" alt="regalos para hombres" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/Desayunos#criollos" target="_blank"> <h3 class="texto-nav">Criollos</h3></a>
                    </div>
                </div>
                


                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/regalosella.png" alt="regalos para ella" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                        <a href="/links/Desayunos#light" target="_blank"><h3>Light</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/arreglos con flores.png" alt="arreglos con flores" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/Desayunos#reposteria" target="_blank"> <h3>Reposteria</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/reposteria.png" alt="reposteria">
                    </div>
                    <div class="ofert-txt">
                        <a href="/links/Desayunos#regalosParaEl" target="_blank"><h3>Regalos para ÉL</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/Desayunos#Regalos para Ella" target="_blank"> <h3>Regalos para Ella</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/floristeria#Cajas"target="_blank"> <h3>Cajas</h3> </a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/floristeria#De Mano"target="_blank"> <h3>De mano</h3></a>
                    </div>
                </div>

                <div class="ofert-1">
                    <div class="ofert-img">
                        <img src="/img/deliverry.png" alt="delivery" class="imgindex">
                    </div>
                    <div class="ofert-txt">
                       <a href="/links/floristeria#Regalos"target="_blank"> <h3>Regalos</h3></a>
                    </div>
                </div>

        </div>
    </section>
</body>
</html>


				
