<footer class="mt-4">

    <div class="card" style="background-color:rgb(107, 3, 4);box-shadow: 9px -8px 5px 0px rgba(0,0,0,0.75);" >
    <div class="container m-3 fs-4" style="display:flex;justify-content:center">
        <div>
            <i class="fa-solid fa-location-dot fa-fade m-3" style="color:white;"> </i>
            <span class="text-white">Carrera 10#44-26 barrio García Rovira</span>
            <i class="fa-regular fa-envelope fa-fade m-3" style="color:white;"></i>
            <span class="text-white">Jeimmyayos17@gmail.com</span>
            <i class="fa-solid fa-phone fa-fade m-3" style="color:white;"></i>
            <span class="text-white">+57 300-8877745</span>
        </div>    
    </div>
    <div class="container m-3 fs-4" style="display:flex;justify-content:center">
        <div>
            <i class="fa-solid fa-calendar-days fa-fade m-3" style="color:white;" ></i>
            <span class="text-white">Días laborales: Lunes a Sábado</span>
            <i class="fa-regular fa-clock fa-fade m-3" style="color:white;"></i>
            <span class="text-white">Horarios: 7:00 am - 12:00pm | 2:00pm - 6:00pm</span>
            <i class="fa-solid fa-truck-moving fa-fade m-3" style="color:white;"></i>
            <span class="text-white">Servicio Delivery</span>
        </div>    
    </div>
    
    
</div>
</div>
</footer>