
    <footer class="footer ">

        <div class="container-all d-flex justify-content-center " >

            <div class="link row  row-col-md-2" >
                <p>Contactanos</p>
                  <p class="fs-6 text-white m-2" >(000)00000</p>
                    <p class="fs-6 text-white m-2" >(000)00000</p>
                    <p class="fs-6 text-white m-2" >(000)00000</p>
                    <p class="fs-6 text-white m-2" >(000)00000</p>

            </div>
            <div class="link row row-col-md-2 ">
                <p>Dias de laborar</p>
                     <p class="fs-6 text-white m-2" >Lunes</p>
                    <p class="fs-6 text-white m-2" >Martes</p>
                    <p class="fs-6 text-white m-2" >Miercoles</p>
                    <p class="fs-6 text-white m-2" >Jueves y Viernes</p>

            </div>
            <div class="link row row-col-md-2 ">
                <p>Horarios</p>
                    <p class="fs-6 text-white m-2" >8:00am</p>
                    <p class="fs-6 text-white m-2" >12:00pm</p>
                    <p class="fs-6 text-white m-2" >2:00pm</p>
                    <p class="fs-6 text-white m-2" >6:00pm</p>

            </div>
            <div class="link row  row-col-md-2 ">
                <p>Ubicacion</p>
                <p>Bucaramanga</p>
                <p>Bucaramanga</p>
                <p>Bucaramanga</p>
                <p>Bucaramanga</p>
                

            </div>

        </div>



    </footer>