<div  style="display:flex;justify-content:center;background: rgb(107, 3, 4);">
        <div>
            <i class="fa-solid fa-location-dot fa-fade p-3" style="color:white;"> </i>
            <span class="text-white">Carrera 10#44-26 barrio García Rovira</span>
            <i class="fa-regular fa-envelope fa-fade p-3" style="color:white;"></i>
            <span class="text-white">Jeimmyayos17@gmail.com</span>
            <i class="fa-solid fa-phone fa-fade p-3" style="color:white;"></i>
            <span class="text-white">+57 300-8877745</span>
        </div>    
    </div>



<nav class="navbar  navprincipal " style="background: rgb(107, 3, 4);">
  <div class="container-fluid">
    <a class="navbar-brand text-white " href="/">KREATIVA</a>

     <li class="nav-item dropdown list-unstyled text-white">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Desayunos
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/links/Desayunos">Desayunos</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#tematicas">tematicas</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#criollos">criollos</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#light">light</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#reposteria">reposteria</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#regalosParaEl">regalos Para Él</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#Regalos para Ella">Regalos para Ella</a></li>
              
            </ul>
          </li>
    <li class="nav-item dropdown list-unstyled text-white">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Floristeria
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/links/floristeria">Floristeria</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#Funebres">Funebres</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#Cajas">Cajas</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#De Mano">De Mano</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#Regalos">Regalos</a></li>
              <li>
            </ul>
          </li>
         
                        
<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
   <a href="/links/formulario"><i class="fa-solid fa-cart-shopping m-3 fs-2 " style="color: white;" id="imeg-carrito"></i></a>
</button>

 <style>
        .btn-float {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 100;
        }
    </style>

    <div class="btn-group dropup btn-float fa-fade">
        <button type="button" style="width: 250px;background: rgba(107, 3, 5, 0.719);color: rgb(212, 163, 48)" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
            Cotiza con nosotros
        </button>
        <ul class="dropdown-menu" style="background: rgb(107, 3, 4);width: 250px;">
            <li><a class="dropdown-item" style="color: rgb(212, 163, 48);"  href="https://web.whatsapp.com/send?phone=573008877745" target="_blank">WhatsApp</a></li>
            {{!-- <li><a class="dropdown-item" href="https://www.facebook.com/people/AJinstalaciones/100093338443642/" target="_blank">Facebook</a></li>
            <li><a class="dropdown-item"  href="https://www.instagram.com/ajinstalaciones.cl/" target="_blank">Instagram</a></li> --}}
        </ul>
    </div>




{{!-- carrito de compras --}}


{{!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
   <i class="fa-solid fa-cart-shopping m-3 fs-2 " style="color: white;" id="imeg-carrito"></i>
</button> --}}
{{!-- <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Carrito de compras</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >
        <div id="carrito" >
            <table id="lista-carrito" >
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody >
                  
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <a href="#" id="vaciarCarritoBtn" class="btn btn-danger m-2">vaciar carrito</a>
            </div>
            <div>
                <div id="total">Total: $0</div>
                <button id="botonPago">Pagar</button>
            </div>
        </div>
  </div>
</div> --}}

  </div>
</nav>

