<nav class="navbar  navprincipal mb-4 " style="background: rgb(107, 3, 4);">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">KREATIVA</a>

     <li class="nav-item dropdown list-unstyled text-white">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Desayunos
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/links/Desayunos">Desayunos</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#tematicas">tematicas</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#criollos">criollos</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#light">light</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#reposteria">reposteria</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#regalosParaEl">regalos Para Él</a></li>
              <li><a class="dropdown-item" href="/links/Desayunos#Regalos para Ella">Regalos para Ella</a></li>
              
            </ul>
          </li>
    <li class="nav-item dropdown list-unstyled text-white">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Floristeria
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/links/floristeria">Floristeria</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#Funebres">Funebres</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#Cajas">Cajas</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#De Mano">De Mano</a></li>
              <li><a class="dropdown-item" href="/links/floristeria#Regalos">Regalos</a></li>
              <li>
            </ul>
          </li>
         
                        
<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
   <i class="fa-solid fa-cart-shopping m-3 fs-2 " style="color: white;" id="imeg-carrito"></i>
</button>
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Carrito de compras</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >
        <div id="carrito" >
            <table id="lista-carrito" >
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody >
                  
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <a href="#" id="vaciarCarritoBtn" class="btn btn-danger m-2">vaciar carrito</a>
            </div>
            <div>
                <div id="total">Total: $0</div>
                <button id="botonPago">Pagar</button>
            </div>
        </div>
  </div>
</div>

  </div>
</nav>

