<header class="d-flex justify-content-center formulario">
<div class="col-md-5 m-5">
    <div class="card-body" >
        <div class="mb-3">
            <h2 class="d-flex justify-content-center pb-3" style="color: rgb(107, 3, 4);">FORMULARIO DE PEDIDOS</h2>
            <form action="https://formsubmit.co/Jeimmyayos17@gmail.com" method="POST">
                <input type="text" class="form-control fs-5" name="name" id="exampleFormControlInput1" placeholder="Nombre y Apellido" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control fs-5" name="phone" id="exampleFormControlInput1" placeholder="Teléfono" required>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control fs-5" name="email" id="exampleFormControlInput1" placeholder="Correo Electrónico" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control fs-5" name="comments" id="exampleFormControlTextarea1" placeholder="Mensaje" rows="3" required></textarea>
            </div>
            <div class="d-grid gap-2">
                <button class="btn " style="background: rgb(107, 3, 4);color:white" type="submit">Enviar Mensaje</button>
            </div>

            <input type="hidden" name="_next" value="http://localhost:4000/links/formulario">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
    <p class="mt-4 text-justify ">“Te invitamos a realizar tus pedidos a través de nuestro formulario. Por favor, 
      asegúrate de proporcionar tus datos correctamente, incluyendo tu correo electrónico, 
      número de teléfono y dirección, para garantizar un servicio óptimo. Además, 
      ofrecemos atención al cliente a través de WhatsApp. No importa el medio que elijas, 
      nos comprometemos a atenderte lo más pronto posible. Estamos orgullosos de servir a 
      toda la localidad de Bucaramanga.”</p>
</div>
</header>